
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Checkout Page</h2>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
<h6 class="px-3">Placeholder.</h6>
<br />

<table class="table table-bordered" style="width:100%">
    <tr>
        <th>Total Amount To Pay</th>
    </tr>
    <tr>
        <td>
            @ViewBag.Total
        </td>
    </tr>
</table>
