@{
    ViewData["Title"] = "About";
}
<br />
<br />
<br />
<br />
<h1>@ViewData["Title"]</h1>

<p>I thought up the idea for this site as a final project during my class at <a href="https://truecoders.io/">TrueCoders.</a></p>
<p>As a player of Dungeons & Dragons, I noticed that people had taken the equipment information from WotC's 5e SRD and listed that info in various places and formats
    (wikis, APIs, etc.), but I thought it would be a novel idea to present the equipment lists in the form of an eCommerce site, where the user could click on items and a 
    shopping cart would tally up the gold/silver/copper in the same way a real eShop would show your total dollars.</p>
<p>And thus, this site was born. Its main purpose is to showcase some of my growing knowledge and skill with C#, ASP.NET and MVC.</p>
<p>I just hope is that at least one person has as much fun using it as I had making it.</p>
<p>My <a href="https://github.com/dmstringer/YeOldeFake5eShop">Github</a> for this project.</p>