@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/assets/equipment.jpg" class="rounded mx-auto d-block" alt="...">
    <h1>Welcome</h1>
    <h3>to Ye Olde Fake 5e Shop!</h3>
    <h4>A site that allows you to buy your 5e equipment </h4>
    <h4>through the lens of an eCommerce site.</h4>
</div>
