@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<div class="text-center">
    <img src="~/assets/equipment.jpg" class="rounded mx-auto d-block" alt="...">
    <h1 class="oldFont">Welcome to Ye Olde Fake 5e Shop!</h1>
    <h4>A site that allows you to 'buy' your character's 5e equipment</h4>
    <h4>based on the <a href="https://dnd.wizards.com/articles/features/systems-reference-document-srd">D&D 5th Edition SRD</a> equipment list,</h4>
    <h4>through the lens of an eCommerce site.</h4>
    <br />
    <h4>Click on an Equipment Category below to get started:</h4>
</div>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Gear">Adventuring Gear</a></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Armor">Armor</a></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Packs">Equipment Packs</a></h3>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Mounts">Mounts & Vehicles</a></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Tools">Tools</a></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Weapons">Weapons</a></h3>
        </div>
    </div>
</div>
