@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<br />
<br />
<br />
<h1>@ViewData["Title"]</h1>

<p>I'm not collecting any data right now, so there is no Privacy policy at the moment.</p>
<p>I do use one Session cookie for the state of the cart, but nothing for tracking.</p>
<p>So basicly this is just a placeholder page in case I do signups or something like that in the future.</p>
