<br />
<br />
<br />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Privacy Policy</h2>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>

<p>I'm not collecting any data right now, so there is no Privacy policy at the moment.</p>
<p>I do use one Session cookie for the state of the cart, but nothing for tracking.</p>
<p>So basicly this is just a placeholder page in case I do signups or something like that in the future.</p>
