<!--
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cart</h2>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
<h6 class="px-3">Placeholder.</h6>-->
<br />
<br />
<br />
<br />
<div class="text-center">
    <img src="~/assets/equipment.jpg" class="rounded mx-auto d-block" alt="...">
    <br /><br /><br /><br /><br /><br />
    <h3>You don't have anything in your cart yet!</h3>
    <br />
    <h4>Click on an Equipment Category below to get started:</h4>
</div>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Gear">Adventuring Gear</a></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Armor">Armor</a></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Packs">Equipment Packs</a></h3>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Mounts">Mounts & Vehicles</a></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Tools">Tools</a></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><a class="" asp-area="" asp-controller="Equipment" asp-action="Weapons">Weapons</a></h3>
        </div>
    </div>
</div>



